@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1050px;
    margin: auto;
}

/* ---------------------------------
            Main Style Start 
    --------------------------------*/

.header-top{
    background-color: #2D25A0;
    padding-top: 153px;
    padding-bottom: 86px;

}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-content{
    margin-right: 102px;
}
.header-content h2{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    width: 485px;
    height: 230px;
    color: #fff;
    padding-bottom: 25px;
}
.b-btn{
    width: 168px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: #E02C6D;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.b-btn:hover i{
    transform: translate(23px) scale(1.5);
    transition: transform 0.6s;
}

.header-image img{
    width: 556.1px;
    height: 438px;
    animation: Football 3s ease infinite alternate;
}

@keyframes Football {

    to{
        transform: rotate(5deg) ;
    }
    
}

/*------------------------------------
     Player Information Css
------------------------------------- */

.players-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 15px;
    margin-top: 70px;
    margin-bottom: 165px;

}
.player{
    width: 330px;
    height: 474px;  
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player-image img{
    max-width: 100%;
    width: 300px;
    height: 256px;
}
.player-bio h3{
    margin: 15px 0;
    font-weight: bold;
    font-size: 28px;
}
.player-bio p{
    font-size: 16px;
}

/* -------------------------------------------
    Hilight Section Css 
----------------------------------------------*/
.heilight-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heilight-contant{
    margin-right: 69px;
    width: 466px;
    height: 309px;
}
.heilight-contant h2{
    font-weight: bold;
    font-size: 42px;
    line-height: 60px;
}
.heilight-contant p{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 24px;
}

.heilight-image img{
    width: 567px;
    height: 427px;
}

/* -------------------------------------
    Live Football Watch Css 
---------------------------------------*/
.Live-video{
    max-width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
   
}
.live-v-heading h1{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

/* -------------------------------------
    Our Subscribe Section 
-------------------------------------*/
.sub-heading h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.our-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}


.our-subscribe input{
    width: 400px;
    height: 37px;
    padding-left: 15px;
    margin-right: 20px;
    border-radius: 10px;
    outline: 0;
    border: 2px solid #ddd;
   
}
.our-subscribe ::placeholder{
    font-weight: 600;
    color: #ddd;
}

.our-subscribe input:focus{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/*-------------------------------------
     Footer Section Css 
 -------------------------------------*/

.footer-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20pxpx;
    height: 213px;
}

.f-image{}
.f-image img{
    width: 483.87px;
    height: 110px;
}
.f-icon {}
.f-icon i{
    padding: 15px 10px;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    transition: 0.6s;
}
.f-icon i:hover{
    color: #E02C6D;
}
.f-copyright{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}


/*-------------------------------------

    Responsive Media Quary Css 

-------------------------------------*/

@media only screen and (max-device-width : 688px) {

    .container{
        max-width: 100%;
    }

    .header-section{
        flex-direction: column;
        align-items: center;
        
    }
    .header-content{
        margin-bottom: 30px;
    }
    .header-content h2{
        font-size: 58px;
        height: auto;
    }
    
    .players-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .heilight-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heilight-contant{
        margin-bottom: 30px;
    }
    .Live-video iframe{
        max-width: 100%;
        
    }
    .our-subscribe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 120px;
    }
    .sub-heading h2{
        font-size: 35px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 50px;
    }
    .our-subscribe input{
        margin-bottom: 15px;
    }
}